/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/********* Nonspecific *********/
.bg-gray {
	background-color: #eaeaea;
}

/********* Ticket View layout *********/


/********* Project View layout *********/
.project-view-menu {
	display: grid;
	grid-gap: 0.5em;
	padding-bottom: 0.5em;
}

.project-view-menu__header {
	grid-area: 1 / 1;
	align-self: start;
	justify-self: left;
}

.project-view-menu__buttons {
	grid-area: 2 / 1;
	align-self: end;
	justify-self: left;
}

.project-view-menu__filters {
	grid-area: 1 / 2;
	align-self: end;
	justify-self: right;
}

.project-view-menu__search {
	grid-area: 2 / 2;
	align-self: end;
	justify-self: right;
}

@media (max-width: 1200px) {

	.container {
		margin-left: 0px;
	}
}

@media (max-width: 500px) {

	.project-view-menu__header {
		grid-area: 1 / 1;
	}

	.project-view-menu__buttons {
		grid-area: 2 / 1;
	}

	.project-view-menu__search {
		grid-area: 4 / 1;
		align-self: end;
		justify-self: start;
	}

	.project-view-menu__filters {
		grid-area: 3 / 1;
		align-self: end;
		justify-self: start;
	}
}

.categoryDiv {
	display: inline-block;
	width: 1.53em;
	border-radius: 12px;
	text-align: center;
}

#body-content {
	margin-bottom: 32px;
}

.pagination .page-item {
	min-width: 48px;
	text-align: right;
}

	.pagination .page-item input[type=radio] {
		display: none;
	}

.red-bordered {
	border: solid 2px red;
	padding: 1px;
}

.overlay {
	background: rgba(0,0,0,0.33);
	position: absolute;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: .25rem;
}

/*
:root {
	--textColor: #231f20;
	--dkGray: #364747;
	--mdGray: #8d8d8d;
	--ltGray: #eeeeee;
	--backgroundColor: #dee0e2;
	--bright: #005da6;
	--dkGray2: #364747;
	--bright2: rgba(253,187,45,1);
	--bright3: #5400cd;
	--link: #005da6;
	--link-hover: #007adc;
}

/* gray-blue color scheme
:root {
	--textColor: #231f20;
	--dkGray: #364747;
	--mdGray: #8d8d8d;
	--ltGray: #eeeeee;
	--backgroundColor: #dee0e2;
	--bright: #005da6;
	--dkGray2: #364747;
	--bright2: rgba(253,187,45,1);
	--bright3: #5400cd;
	--link: #005da6;
	--link-hover: #007adc;
}
	*/

/* gray-blue inverted color scheme
:root {
	--textColor: #f2f2f2;
	--ltGray: #f2f2f2;
	--backgroundColor: #2c2c2c;
	--ltGray: #2c2c2c;
	--dkGray: #2c2c2c;
	--bright: #00d0ff;
	--dkGray2: #ee411d;
	--bright2: rgba(253,187,45,1);
	--bright3: #5400cd;
	--link: #00a0f0;
}
	*/


/* gray-violet monochrome color scheme
:root {
	--textColor: black;
	--ltGray: #3b3c55;
	--backgroundColor: #9985b6;
	--mdGray: #d6d3db;
	--dkGray: #efecf5;
	--bright: #d6d3db;
	--dkGray2: #ee411d;
	--bright2: rgba(253,187,45,1);
	--bright3: #5400cd;
	--link: #0645AD;
}
*/
/* pea-beige bichromal color scheme
:root {
  --textColor: #49402b;
  --ltGray: #88915f;
  --backgroundColor: #8fd1b0;
  --ltGray: #d9eac8;
  --bright: #c5cea3;
  --cta: #cbf038;
  --link: #0645AD;
}
*/
/* gray & blue color scheme
:root {
  --textColor: black;
  --ltGray: #CDCDCD;
  --backgroundColor: #E9E9E9;
  --ltGray: white;
  --bright: #99D3DF;
  --cta: #88BBD6;
  --link: #0645AD;
}
*/
/* mint & orange color scheme
:root {
  --textColor: #051821;
  --ltGray: #1a4645;
  --backgroundColor: #266867;
  --ltGray: white;
  --bright: #f58800;
  --cta: #F7B733;
  --link: #0645AD;
}
*/
/* muted color scheme
:root {
  --textColor: #2e2e2e;
  --ltGray: #898989;
  --backgroundColor: #E9E9E6;
  --ltGray: #F9F9F9;
  --bright: #D67B60;
  --cta: #F7B733;
  --link: #0645AD;
}
*/
/* watermelon color scheme
:root {
  --textColor: #4d6d66;
  --ltGray: #789e9e;
  --backgroundColor: #b7d8d6;
  --ltGray: #F9F9F9;
  --bright: #FE615a;
  --cta: #F7B733;
  --link: #0645AD;
}*/
/* purple & gold color scheme
:root {
  --textColor: #131214;
  --ltGray: #2e2b37;
  --backgroundColor: #7533f7;
  --ltGray: #f7f4fb;
  --bright: #f58800;
  --cta: #FE615a;
  --link: #0645AD;
}
*/

.break-long-words {
	word-wrap: hyphenate;
	overflow-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}

.width-limit {
	width: 50%;
}


a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}


html {
	/* font-family: Georgia,serif !important;*/
	font-size: 14px;
	position: relative;
	min-height: 100%;
	/*
    background-color: #202d39;
  */
	/*
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  */
}

body {
	/* Margin bottom by footer height */
	word-wrap: break-word;
	margin-bottom: 60px;
	/* background: var(--backgroundColor);
	/*background: linear-gradient(180deg, var(--backgroundColor) 0%, var(--ltGray) 100%);
	/*
  background: linear-gradient(0deg, rgb(34,193,195) 0%, rgb(139, 199, 200) 100%);
  /*
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

	color: var(--textColor);*/
}


/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}
/*
.border-top {
	border-top: 1px solid var(--textColor);
}

.border-bottom {
	border-bottom: 1px solid var(--textColor);
}
/*
.box-shadow {
	box-shadow: 0 .25rem .75rem var(--textColor);
}
	*/

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px; /* Vertically center the text there */
}

.bug-icon {
	will-change: transform;
	transition: transform 450ms;
}

	.bug-icon:hover {
		transition: transform 125ms;
		transform: scale(1.618);
	}

.table-header {
	color: var(--textColor) !important;
}

	.table-header:hover {
		color: var(--mdGray);
		text-decoration: none;
	}


	.table-header:active {
		text-decoration: none;
	}

.landing-page {
	background: linear-gradient(30deg, var(--bright3) 0%, var(--bright2) 100%);
}

.cta {
	background: var(--dkGray);
}
/*
td a, td a :hover {
	color: rgb(0 0 0);
}

*/


/* overwriting bootstrap styles */
/*
table, table td, table th, table thead th {
	color: var(--textColor);
	background-color: var(--ltGray);
	border-bottom: 2px solid var(--dkGray) !important;
}

label {
	padding: 0px;
	margin: 0px;
	height: 10px;
}
	*/


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

		.sidenav a {
			font-size: 18px;
		}
}


/*


.comment {
	border-bottom: 2px solid var(--dkGray) !important;
}

a {
	text-decoration: underline;
	color: var(--link);
}

	a:hover {
		color: var(--link-hover);
	}

.btn-primary {
	color: #fff;
	border-color: var(--textColor);
}

.section {
	padding: 1%;
	background: var(--ltGray);
	border-bottom: 5px solid var(--dkGray);
}

.navbar {
	background: var(--ltGray);
	border-bottom: 5px solid var(--dkGray) !important;
	/*background: linear-gradient(180deg, var(--bright) 0%, var(--cta) 100%);*/
}
/*
.border-left {
	border-left: 2px solid var(--backgroundColor) !important;
}

.nav-link {
	color: var(--link) !important;
}

	.nav-link:hover {
		text-decoration: underline;
		color: var(--link-hover) !important;
	}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: var(--ltGray);
	background-color: var(--link);
	border-color: var(--ltGray);
}

li {
	padding-right: 15px;
}

*/
