<!-- search input field -->
<form class="float-right pb-2 pr-4" style="width: 200px;">
	<div class="input-group">
		<input type="text" name="filter" class="form-control" placeholder="Search..." value="@Model.Filter" style="height: 30px;">
		<div class="input-group-append">
				<button type="submit" class="btn btn-sm btn-default rounded-right" style="height: 30px;"><i class="fa fa-search"></i></button>
				<a href="?" history="set" class="btn btn-sm btn-light ml-2" style="height: 30px;"><i class="fa fa-times"></i></a>
		</div>
	</div>
</form>