
<!-- new ticket link -->
<a asp-controller="Tickets"
		asp-action="Create"
		asp-route-id="@Model.Project.Id"
		class="">
	<button class="btn btn-sm btn-outline-primary">
		<i class="fas fa-plus-circle"></i> New Ticket</button></a>
