Show
	<!-- # of tickets to display -->
	<input type="text"
					name="PageSize"
					value="@Model.DataPage.PageSize"
					min="1"
					max="99999"
					style="height: 30px; width: 30px; display:inline-block;"/>
	<label class="mb-0"></label>
