<!-- # of tickets to display -->
<div class="d-inline text-nowrap input-group">
		Show
	<input type="text"
					name="PageSize"
					value="@Model.DataPage.PageSize"
					min="1"
					max="99999"
					style="height: 30px; width: 30px;"/>
	<label class="mb-0"></label>
</div>