
	<!-- search input field -->
	<div class="input-group" style="width: 16em;">
		<input 
		type="text" 
		name="filter" 
		class="form-control" 
		placeholder="Search..." 
		value="@Model.DataPage.Filter" 
		style="height: 30px;">
		<div class="input-group-append">
				<button type="submit" class="btn btn-sm btn-default rounded-right" style="height: 30px;"><i class="fa fa-search"></i></button>
		</div>
		
		<!--button that clears search -->
		<!--
		<a href="?" history="set" class="btn btn-sm btn-light ml-2" style="height: 30px;"><i class="fa fa-times"></i></a>
		-->
	</div>
				
